[Unit]
Description=Wallpaper Management Tool
After=syslog.target

[Service]
Type=forking
ExecStart=/home/Daxxn/Code/Python/Projects/WallpaperManager/wpd/startupScript.sh

[Install]
WantedBy=multi-user.target